@*Esta vista tiene como objeto principal una lista de alumnos*@
@model List<Alumno>
@using DA2_SistemaEscolar2016.Models

@{
    ViewBag.Title = "listar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>listar</h2>

@Html.Partial("../BuscadorFormulario")

@if (User.IsInRole("Admin")||User.IsInRole("Capturista"))
{
    @Html.ActionLink("Nuevo Alumno","crear")
}
<table class="table table-striped table-hover">
    <tr>
        <th>Matricula</th>
        <th>Nombre Completo</th>
        <th>Fecha Nacimiento</th>
        <th>Grupo</th>
        <th>Foto</th>
    </tr>
    @foreach (var alumno in Model.OrderBy(al=>al.fechaNac)) {
        int fotoPerfilID = 0;
        if (alumno.archivos.Count > 0) {
            fotoPerfilID = alumno.archivos.FirstOrDefault(foto => foto.tipo == "Perfil").archivoID;
        }
        <tr>
            <td>@alumno.noMatricula</td>
            <td>@(alumno.nombre + " " + alumno.apellidoP + " " + alumno.apellidoM)</td>
            <td>@alumno.fechaNac.ToLongDateString()</td>
            <td>@alumno.grupo.nombreGrupo</td>
            <td>
                @if (fotoPerfilID == 0)
                {
                    <img src="/Content/img/sinfoto.gif" />
                }
                else
                {
                    <img src="@Url.Action("download", "Archivo", new { id = fotoPerfilID })" />
                }
            </td>
            <td>
                @if (User.IsInRole("Admin"))
                {
                    @Html.ActionLink("Eliminar", "eliminar", new { id = alumno.noMatricula })
                    @(" | ")
                }
                
                @if (User.IsInRole("Admin") || User.IsInRole("Capturista"))
                {
                    @Html.ActionLink("Editar", "editar", new { id = alumno.noMatricula })
                }
                
            </td>
        </tr>
    }
</table>